<!--****Rechner****
zum Einstellen der Rechneroptionen-->

<div class="background">
	<div class="rechner">
	<label for="Kapital" class="box1">Anfangskapital:</label>
	<input type="text" name="Anfangskapital" id="Kapital" class="box2">
	<label class="box3">Euro</label>
	<input type="radio" name="akberechnen" class="box3">
	<label for="akberechnen" class="box3">Anfangskapital berechnen</label>
	<br>
	<label for="Zsatz" class="box1">Zinssatz:</label>
	<input type="text" name="Zsatz" id="Zinsen" class="box2">
	<label class="box3">% p.a.</label>
	<input type="radio" name="zsberechnen" class="box3">
	<label for="zsberechnen" class="box4">Zinssatz berechnen</label>
	</div>
</div>
<br><br>
<div>
	<table class="tabelle">
		<tr>
			<td class="s1">
				<label>Anfangskapital</label>
			</td>
			<td class="s2">
				<input class="eingabe">
			</td>
			<td class="s3">
				<label>Euro</label>
			</td>
			<td class="s4">
				<input type="radio">
			</td>
			<td>
				<label>Anfangskapital berechnen</label>
			</td>
		</tr>
				<tr>
			<td>
				<label>Zinssatz</label>
			</td>
			<td>
				<input class="eingabe">
			</td>
			<td>
				<label>% p. a.</label>
			</td>
			<td>
				<input type="radio">
			</td>
			<td>
				<label>Zinssatz berechnen</label>
			</td>
		</tr>
				<tr>
			<td class="s1">
				<label>Laufzeit</label>
			</td>
			<td class="s2">
				<input class="eingabe">
			</td>
			<td class="s3">
				<label>Jahre</label>
			</td>
			<td class="s4">
				<input type="radio">
			</td>
			<td>
				<label>Laufzeit berechnen</label>
			</td>
		</tr>
		<tr>
			<td class="s1">
				<label>Endkapital</label>
			</td>
			<td class="s2">
				<input class="eingabe">
			</td>
			<td class="s3">
				<label>Euro</label>
			</td>
			<td class="s4">
				<input type="radio">
			</td>
			<td>
				<label>Endkapital berechnen</label>
			</td>
		</tr>
	</table>
</div>
<!--<div class="rechner">
	<label for="Kapital" class="box1">Anfangskapital:</label>
	<input type="text" name="Anfangskapital" id="Kapital" class="box2">
	<label class="bez">Euro</label>
	<input type="radio" name="akberechnen">
	<label for="akberechnen" class="bez1">Anfangskapital berechnen</label>
	<br>
	<label for="Zsatz" class="box1">Zinssatz:</label>
	<input type="text" name="Zsatz" id="Zinsen" class="box2">
	<label class="box3">% p.a.</label>
	<input type="radio" name="zsberechnen" class="box3">
	<label for="zsberechnen" class="box4">Zinssatz berechnen</label>
</div>-->
